.bannerWrapper {
  overflow: hidden;
  background-image: url("/banner-light.svg");
  background-color: rgb(31, 62, 118);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  padding: 140px 20px 0;
  @media (max-width: 400px) {
    padding-bottom: 140px;
  }
}

.bannerInnerWrapper {
  display: flex;
  max-width: 1310px;
  margin: 0 auto;
}

.bannerHeader {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 84px;
  @media (max-width: 600px) {
    font-size: 64px;
    text-align: center;
  }
  @media (max-width: 400px) {
    font-size: 54px;
    text-align: center;
  }
}

.bannerTextWrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
  @media (max-width: 800px) {
    width: 100%;
  }
}

.bannerDescription {
  font-size: 20px;
  font-weight: 100;
  span {
    font-size: 24px;
    font-weight: 700;
  }
  @media (max-width: 600px) {
    text-align: center;
  }
}
