.projectWrapper {
  display: flex;
  justify-content: space-between;
  margin: 120px auto 40px;
  min-height: calc(100vh - 238px - 120px - 40px);
  width: 90%;
  max-width: 1310px;

  @media (max-width: 900px) {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

.projectTextWrapper,
.projectImageWrapper {
  width: 45%;
  @media (max-width: 900px) {
    width: 90%;
  }
}

.projectTextWrapper {
  h1 {
    color: var(--text-primary-color);
    font-weight: bold;
  }
  p {
    color: var(--text-secondary-color);
  }
  a {
    display: block;
    width: fit-content;
    margin-top: 36px;
    color: #fff;
    background-color: rgb(31, 62, 118);
    border: none;
    padding: 10px;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.2s ease;
    &:hover {
      background-color: #4b71b2;
      cursor: pointer;
    }
  }
}

.projectImageWrapper {
  position: relative;
  @media (max-width: 900px) {
    height: 400px;
  }
}
