.aboutWrapper {
  display: flex;
  justify-content: center;
  gap: 50px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto 100px;
  @media (max-width: 900px) {
    flex-direction: column;
    align-items: center;
  }
}

.wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @media (max-width: 900px) {
    width: 100%;
  }
}

.wrapperSecond {
  @extend .wrapper;
  align-items: flex-start;
}

.heading {
  font-size: 32px;
  color: var(--text-primary-color);
  margin: 0 auto;
}

.description {
  color: var(--text-secondary-color);
  line-height: 34px;
  text-align: justify;
}
