.projectsWrapper {
  background-image: url("/banner-secondary.svg");
  background-size: cover;
}

.projectsInnerWrapper {
  max-width: 1310px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 0;

  h2 {
    font-size: 32px;
    font-weight: 100;
    color: white;
    margin: 0;
    span {
      font-weight: 700;
    }
  }
  p {
    font-size: 16px;
    margin: 0;
    font-weight: 100;
  }
}

.projectsImagesWrapper {
  display: flex;
  margin-top: 50px;
  gap: 50px;
  width: 100%;
  height: 200px;
}
.projectImageWrapper {
  position: relative;
  width: 30%;
  button {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    transition: all 0.2s ease;
    color: #fff;
    background-color: rgb(31, 62, 118);
    border: none;
    padding: 10px;
    font-weight: 700;
    &:hover {
      background-color: #4b71b2;
    }
  }
  &:hover {
    .projectImage {
      filter: brightness(0.3);
      cursor: pointer;
    }
    button {
      visibility: visible;
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }
}
.projectImage {
  position: relative;
  width: 100%;
  transition: all 0.3s ease;
}
