.aboutWrapper {
  display: flex;
  max-width: 1310px;
  width: 100%;
  align-items: center;
  flex-direction: column;
  margin: 80px auto;
}

.aboutHeader {
  text-transform: uppercase;
  color: rgb(36, 72, 134);
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 0;
  margin-bottom: 8px;
}

.aboutDescription {
  font-size: 32px;
  color: rgb(18, 42, 71);
  margin: 0;
  padding: 0;
  letter-spacing: -0.5px;
  @media (max-width: 700px) {
    text-align: center;
  }
}

.aboutInnerWrapper {
  display: flex;
  justify-content: space-around;
  max-width: 1100px;
  width: 100%;
  margin-top: 50px;
  @media (max-width: 700px) {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}

.aboutIconBoxWrapper {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  text-align: center;
  max-width: 320px;
  width: 100%;
}

.aboutIconBox {
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecf2ff;
  border-radius: 25px;
  margin: 0 auto;
}

.aboutIconBoxPrimary {
  @extend .aboutIconBox;
  background-color: #ecf2ff;
  svg {
    fill: #2b63ff;
  }
}

.aboutIconBoxSecondary {
  @extend .aboutIconBox;
  background-color: #e4ffee;
  svg {
    fill: #40975f;
  }
}

.aboutIconBoxTertiary {
  @extend .aboutIconBox;
  background-color: #fdecef;
  svg {
    fill: #f54361;
  }
}

.aboutIconBoxTitle {
  font-size: 20px;
  color: rgb(18, 42, 71);
  font-weight: 700;
  letter-spacing: -0.5px;
  margin: 25px 0 0;
}

.aboutIconBoxDescription {
  font-size: 15px;
  color: rgb(52, 61, 72);
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}
